<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js WebSta</title>
  <link rel="icon" type="image/vnd.microsoft.icon" href="./img/favicon.ico">
  <link rel="stylesheet" href="todos.css"/>
</head>

<body>

  <div id="todoapp">

    <header>
      <h1>WebSta</h1>
      <input id="new-todo" type="text" placeholder="Add any website's URL that catches your eyes.">
    </header>

	<section id="main">
		<div class="status_bar">
			<a id="clear-completed">Clear completed</a>
			<div id="todo-count"></div>
		</div>
		<div id="toggle-archives">Archives</div>
		<ul id="todo-list"></ul>
	</section>

   <!--  <footer class="status_bar">
      <a id="clear-completed">Clear completed</a>
      <div id="todo-count"></div>
    </footer> -->

  </div>

  <div id="instructions">
    ← Swipe to delete a bookmark. →
  </div>

  <div id="credits">
    Created by Yamamoto Akihiro.
    <br />This App's <a href="https://github.com/varmil/WebSta#readme" target="_blank">Git hub</a>.
	
    <br />Based on: <a href="http://documentcloud.github.io/backbone/examples/todos/index.html" target="_blank">Todos</a>.
  </div>
  
  <div id="container"></div>

  <script src="./vendor/json2.js"></script>
  <script src="./vendor/jquery.js"></script>
  <script src="./vendor/underscore.js"></script>
  <script src="./vendor/backbone.js"></script>
  <script src="./vendor/backbone.localStorage.js"></script>
  <script src="./vendor/prettyTimeDiff.js"></script>
  <script src="./vendor/jquery.xdomainajax.js"></script>
  <script src="./vendor/jquery.touchSwipe.min.js"></script>
  <script src="./js/todos.js"></script>

  <!-- Templates -->

	<script type="text/template" id="item-template">
		<div class="created_at"><%= created_at != null ? niceTime(created_at) : "" %></div>
		<div class="delete_at"><%= delete_at != -1 ? prettyTimeDiff(delete_at)+" remaining" : "" %></div>
		<div class="view">
			<input class="toggle" type="checkbox" <%= done ? "checked='checked'" : null %> />
			<a class="no_decoration" href="<%= url %>" target="_blank">
				<img id="favicon" <%= "src='http://favicon.qfor.info/f/" + url + "'" %> />
				<p class="title_of_website"><%= title %></p>
			</a>
			<a class="destroy"></a>
		</div>
		<div class="content_text"><%= comment %></div>
		<img class="thumbnail" <%= "src=' http://s.wordpress.com/mshots/v1/" + url + "?w=350'" %> width="85" />
		<input class="edit" type="text" value="<%= title %>" />
	</script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? "item" : "items" %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? "item" : "items" %> left</div>
  </script>

  </body>
</html>